<% provide(:title, "Join the Five waitlist") %>
<h1 class="pageheader">Join the Five Waitlist</h1>
</br>
</br>
</br>
</br>
<div class="row">
    <div class="col-md-6 cold-md-offset-1">
       <%= form_for Invitation.new do |f| %>
 
  <%= f.text_field :recipient_email, :placeholder => 'Email here, please' %>
  </br>
  <%= f.submit 'Join the waitlist', class: "btn btn-primary2" %>
  <% end %>
        

    </div>
</div>