<!DOCTYPE html>
<html>
    <body>
          <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>


You are invited to join our beta!

<%= @signup_url %>

    </body>
</html>
