<% provide(:title, "About") %>
</br>
</br>
</br>
</br>
</br>
    <h1 class="pageheaderD">About</h1>
    </br>
               <p style="color:#d5706f; font-style:italic">
         Five turns client feedback into meaningful review scores to use for professional promotion. 
        </p>
        </br>
        </br>

        <p>
            When you review someone on Five, you can be confident that your feedback is helping change someone's career and life. It contributes to a professional metric that they can use.
       
         Until now, recommendations from clients were either stuck on Yelp, a simple 1-5 star rating, or both! 
       
        With Five, your reviews belong to you. They are formulated to produce a meaningful rating score that you can use to get new clients, promotions, and jobs. It's a new line for your resume.
        </p>
        </br>
        
        
        </br>
        
        </br>

          </br>
          </br>
          </br>
          </br>
          
<div id="homeemploybizD">  
</br>
</br>
</br>
<h1><span class="glyphicon glyphicon-briefcase"></span></h1>
<h3>Professionals</h3>
</br>
<p>Use your reviews to help acquire new customers or earn that next promotion.</p>
<br>
<p>Collect and own your own data - <b>reviews about you should belong to you.</b></p>
</br>
</br>
</br>
</br>
</div>
</br>
</br>
</br>

<div id="homecustomersD">
</br>
</br>
<h3><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></h3>
<h3>Customers</h3>
</br>
<p>Quickly and easily leave feedback for your barber or stylist for them to use for professional promotion.</p> 
</br>
</br>
<p>No more “staying on the line” or entering a 25+ digit code online to submit your feedback without any idea of how it is used. </p>
</br>
</br>
</br>

</div>
</br>
</br>
<div id="homeemploybizD"> 
</br>
</br>
<span class="glyphicon glyphicon-home"></span>
<h3>Businesses</h3>
</br>
<p>Stop spending time and money on feedback surveys that produce minimal data.</p>
</br>
<p>Start making informed decisions in a labor market that is difficult to navigate.</p>
</br>
</br>
</div>
</br>
</br>
</br>
  