<% provide(:title, "Contact") %>

    <h1 class="pageheader">Contact</h1>
        <p>
        If you have any questions or comments about Five send us an email at <a href="mailto:team@fiveme.io?Subject=Hey%20Five%20team!">team@fiveme.io</a>
        </br>
        </p>
        </br>
 