<% provide(:title, "FAQ") %>
</br>
</br>
</br>
</br>
</br>
    <h1 class="pageheaderD">Frequently Asked Questions</h1>
    </br>
    </br>
    <div class="faqdivD">
        <p class="faqD">
        What am I supposed to do with Five?
        </p>
        <p>
        You can rate wellness professionals  who helped you (trainers, salon professionals, physical therpists, etc) or collect ratings from your clients.
        </br>
        </br>
        If you manage a business, you can use Five to track customer satisfaction and evaluate talent.
        </p>
        </br>
        </br>
        </br>

        <p class="faqD">
        How does I become a Five member? 
        </p>    
        <p>
        We're still in a beta stage, so our user list is small and only by invitation (at the moment!). Just send us an email at <a href="mailto:newMember@fiveme.io?Subject=Get%20me%20on%20Five!">newMember@fiveme.io</a> saying why you would like to join, and we'll take care of the rest.
        </br>
        </br>
        At Five we are hyper-aware of data integrity--we strive to show off and accurately represent your reputation. That's our mission and we take it very seriously.
        </br>
        </br>
        An automated web-based verification process is being built, but for now we will take care of this offline. 
        </p>
        </br>
        </br>
        </br> 
        <p class="faqD">
         How do I, as an employee, become affiliated with a business? 
        </p> 
        <p>
            When you sign up, you have an option to put in the <u>Business ID #</u> associated with your place of work, which you can get from your colleagues, a manager or request from <a href="mailto:newMember@fiveme.io?Subject=Get%20me%20on%20Five!">newMember@fiveme.io</a>
        </br>
        </br>
        You can also add or change this <u>Business ID #</u> at any time by editing your profile.
        </p>
       </br>
       </br>
       </br>
        <p class="faqD">Why is Five only available through mobile devices? Why can't I access Five on my desktop?</p>
        <p>
        At Five, we want to make it as easy and simple as possible to leave reviews for all the great people you interact with. </p>
        </br>
        </br>
        <p>Did you have a great stylist, or barber or manicurist? If you think he/she deserves to be recognized for that, Five makes it incredibly easy for you to find that employee using the location data from your phone and to help give him/her that recognition on the spot.</p>
        </br>
        </br>
        <p>Waiting until you go home means having to manually search for that great employee and makes leaving a review an additional chore in your day. We want to keep it simple and easy to give great people the recognition they deserve.</p></p>
        </br>
        </br>
        
        </div>
        </br>
        </br>
        </br>

