<% provide(:title, "How it works") %>

    <h1 class="pageheader">How does Five work?</h1>
    </br>
        <p class="faq">
        What is Five? How will I use it?
        </p>
        <p>
        Five is the easiest way to get feedback from clients and turn it into something meaningful.
        </br>
        </br>
        It's a straightforward platform to ask your clients 3 questions:
        </br>
        -  "How was your experience?"
        </br>
        -  "How were my skills?"
        </br>
        -  "Did we get along?"
        </p>
        <br>
        <br>
        <p>
        These are the 3 questions that tell us most about a customer's experience.
        </p>
        </br>

        <p class="faq">
        So what? Some clients answer 3 questions, how does that help anyone? 
        </p>    
        <p>
        We can tell quite a bit from analyzing the different patterns in responses to those questions. And we gain even more insight by looking at the rate at which clients give feedback.
        </br>
        </br>
        After that analysis, we compile this into a score out of 500 which you can use to actually prove your talent to future clients and salons.
        
       
         
        </p>
        </br>
        </br>
    <p class="faq">
         How do I get my score? 
        </p> 
        <p>
          For now, you can simply request it from us by sending an email to <a href="mailto:my500@fiveme.io?Subject=Get%20me%20on%20Five!">my500@fiveme.io</a>
          </br>
          </br>
          We will be happy to send regular reports as well--always 100% for free.
          </br>
          </br>
        We are in the process of building tools for you to see your score, promote your score, and show off other fun metrics around how you are trending.
        </br>
      
        </p>
        </br>
        </br>
        <p>
            If there are any questions, please don't hesitate to drop us an email!
        </p>
       </br>
       </br>
      
        

