<head>
<style>
  background {color:#EF5350}
  h1   {color:#5C6BC0}
  h2   {color:#5C6BC0}
  h3   {color:#5C6BC0}
  p    {color:#747474}
</style>
</head>
<body>

  <div class="instructhead">
</br>
<h1 class="tagline2"><b>Leaving Feedback</b></h1>
</br>
<h2 id="instruct">You're busy, thanks so much for taking a second</h2>
</br>

<h2 id="instruct">There are just three qualities to rate, please do so honestly</h2>

</br>
<h2 id="instruct">It's 100% anonymous, we promise</h2>

</br>
<h2 id="instruct">Select the <b>Give Feedback</b> button below when you are ready</h2>
</br>
</br>
<%= link_to "Give Feedback", feedback_path, class: "btn btn-primary center-block" %>
</br>

</div>
</body>